<div class="intro">
  <p>
    I am sick of drinking crap beer at gigs. It is time to tell the gig venues,
    that is no longer ok to serve overpriced Carlsberg.
  </p>

  <p>
    So, enter what gigs you are going to, via Songkick, Then choose the gig to see what beer the venue serve. If it's rubbish, tell the venue about it!
  </p>
</div>

<form action="#">
  <label for="username">Enter your Songkick username</label>
  <input type="text" name="username" id="username">
  <button type="submit">Find upcoming gigs</button>
</form>

<ol class="events">
</ol>
