<div class="intro">
  <h2>Dear <%= venue %>,</h2>

  <p>
    This is a note to say that your choice of beer during gigs is terrible. The
    likes of <strong><%= beers %></strong> are not fit for consumption.
  </p>

  <p>
    We at <a href="http://beerhear.philna.sh">BeerHear</a> and everyone who
    tweets this at you would much prefer to drink beer that has taste. If the
    music is good, the beer should be too!
  </p>

  <p>
    Folks like <a href="http://www.signaturebrew.co.uk/">Signature Brew</a>
    have the right idea. Perhaps they could hook you up with some decent beer?
    If not, there is probably a local brewery nearby who care about their beer
    and would love to serve it to your crowd.
  </p>

  <p>
    For the sake of music and beer lovers everywhere, <strong>please</strong> sort this out.
  </p>

  <p>
    Phil<br>
    <a href="http://beerhear.philna.sh">BeerHear</a>
  </p>

</div>
